@import url("https://fonts.googleapis.com/css2?family=Basic&family=Poppins&display=swap");

:root {
  --background: #25201d; /* Adjusted to match main.css */
  --background-border: #f8e6b2;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Adjust the column width as needed */
  gap: 50px;
  background-color: var(--background); /* Adjusted to match main.css */
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 0px;
}

.card {
  width: 300px; /* Adjust the width of the card */
  height: 300px; /* Adjust the height of the card */
  background-color: var(--background); /* Adjusted to match main.css */
  border-radius: 8px;
  transition: 500ms all;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background);
  overflow: hidden;
}

.card img {
  width: 100%; /* Ensure images occupy the entire width of the card */
  height: 300px;
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
  translate: 0px 4px 10px;
  box-shadow: 0 0 20px #efd396;
  margin: 5px;
}

.card:hover figcaption {
  font-size: 0.6rem;
  position: absolute;
  height: 80px;
  width: 100%; /* Adjusted width */
  display: flex;
  align-items: end;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: rgb(4, 4, 4);
  left: 0;
  bottom: 0;
  padding-left: 12px;
  padding-bottom: 10px;
}

.card h3 {
  color: rgb(247, 209, 169);
  font-size: 25px;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  -webkit-text-stroke: #25201d;
  -webkit-text-stroke-width: 0.8px;
}
