:root {
  --main-color: #bca79d;
  --main-dark: #2d1201;
}

.info {
  font-size: 16pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: blanchedalmond;
}

h3 {
  margin-left: 30px;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  color: var(--main-color);
  font-style: oblique;
  text-align: left;
  font-style: italic;
  font-weight: bolder;
  font-size: 35pt;
}

.info_main_image {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.country_map {
  width: 700px;
  height: auto;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid #72441ed0;
  padding: 8px;
  text-align: left;
  font-size: 15pt;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

th {
  background-color: #f3c78d5b;
  border: 1px solid #72441ed0;
  padding: 8px;
  text-align: center;
}

.parag div {
  margin-left: 30px;
  margin-top: 6px;
  margin-right: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  color: var(--main-color);
  text-align: justify;
}

img.cul {
  border: 2px solid rgb(246, 245, 245);
  border-radius: 25px;
  margin: 15px;
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.info_container {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  color: var(--main-color);
  text-align: justify;
  margin: 1% 2% 1% 2%;
}

.info_section {
  max-width: 100%;
  margin-bottom: 2%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content p {
  flex: 1;
  margin: 1%;
}

.content img {
  margin-left: 10px;
}
