.image img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

.logo img {
  position: absolute;
  top: 25%;
  left: -2px;; 
  transform: translateY(-110%);
  height: 150px;
  width: 150px;
 
}
  
body {
  background-color: rgb(35, 30, 30);
  /*background:  linear-gradient(to bottom, #231E1E,#5c2913);*/
}
hr{
  margin: 30px;
  color: #BCA79D;
}

h3{
  margin-left: 30px;
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  color: #BCA79D;
}
.map {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.footbackground{
  background: url(footer.png);
  object-fit: cover;
  height: 80px;
  width: 100%;
}

footer{
      margin-bottom: 0px;
      width: 100%; 
}